<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChartCollection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BF4FDD71E07E9680049CB8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BF4FDF01E07E9680049CB8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BF4FDFB1E07E9680049CB8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
